extends ../layouts/default

block vars
  - var head = pages.index;

block contents
  section#about.bg-primary
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h2.section-heading Youtube as background on the fly!
          hr.light
          p.text-faded
            | BgTube is capable to set element's background to video with no hassle.  Just load the script and instantiate then you're done.
          a#about__btn.btn.btn-default.btn-xl(href='#') Set Video to background

  section#services
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading At Your Service
          hr.primary
    .container
      .row
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
            h3 Sturdy Templates
            p.text-muted Our templates are updated regularly so they don't break.
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
            h3 Ready to Ship
            p.text-muted You can use this theme as is, or you can make changes!
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
            h3 Up to Date
            p.text-muted We update dependencies to keep things fresh.
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
            h3 Made with Love
            p.text-muted You have to make your websites with love these days!

  aside.bg-dark
    .container.text-center
      .call-to-action
        h2 Free Download at Start Bootstrap!
        a.btn.btn-default.btn-xl.wow.tada(href='#') Download Now!
