footer.footer
script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
script(src="/js/app.bundle.js")
script.
  new BgTube(document.querySelector('header'));

  document.querySelector('#about__btn').addEventListener('click', function(e){
    e.preventDefault();

    new BgTube(document.querySelector('#about'), {
      videoId: 'sGbxmsDFVnE',
      playerSettings: {
        quality: 'highres'
      }
    });
  });
